//Author: Guilherme Jafar
.right-nav{

    img{
        height: 5rem;
        width: 5rem;
    }

    .nav-link{
        &:hover, :active, :focus{
            background-color: transparent;
        }
    }


}

.main{
    background-image:  none ;
    background-color: white;


    .menu{
        min-height: 70vh;
        //border-right: 1px solid black;


        ul{
            margin-top: 5rem;


            li{
                padding-bottom: 4rem;

                a{
                    font-size: 2rem;
                    color: black;

                    &:hover{
                        text-decoration: none;
                        color: #F09C86;
                    }
                }

                .active{
                    color: #F09C86;
                }
            }

            .logout{
                margin-top: 15rem;
                position: absolute;
                bottom: 0;


                a{
                    border: 1px solid black;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                }


            }
        }
    }
}
