/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Extra Files (by afonsovitorio)
/storage/framework/sessions
/storage/framework/views
/storage/logs
composer.lock
storage/logs/laravel.log
storage/framework/cache/data/e2/8f/e28f52256815787e8ada00dc6aeda53275a3eb6e
storage/framework/cache/data/c8/da/c8da0f5987b00391c60ebe9c48b34ebe2bb05fad
storage/framework/cache/data/b0/99/b099a871d8a9064c559c9b086c2e5852b4303a5c
storage/framework/cache/data/9d/d7/9dd754e2f65a0c41994023133103b29368f07cbd
storage/framework/cache/data/27/8a/278a61c4d0af9b8f3792917655b3e04ea4fb4ff3
storage/framework/cache/data/23/bb/23bb38a4e6b88f19ca19b040294254c58a853fe9
.idea/workspace.xml
.idea/php.xml
.idea/dummy-repo.iml
.idea/workspace.xml
.idea/php.xml
.idea/dummy-repo.iml
