/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Extra Files (by afonsovitorio)
/storage/framework/sessions
/storage/framework/views
/storage/logs
composer.lock
storage/logs/laravel.log
