

.section-registo{
    background-color: white;


    .card-registo{
        border: none;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        background-color: white;
        border-bottom: 0;
        font-size: 3rem;
        color: #F09C86;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .col-form-label{
        margin-top: 1.5rem;
    }


    .imagem{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin: auto;
        display: block;
    }

    .custom-file-label{
        top: 13.3rem;
    }

    .custom-select{
        height: 34px;
        font-size: 1.5rem;
    }
}

.section-registo .btn-registo {
    background-color: #F09C86;
    border-color: #F09C86;
    border-radius: 2rem;
    margin-top: 2rem;

}

.btn-registo:hover {
    background-color: white;
    color: #F09C86;
}
