.worker-select {
    border-radius: 25px;
    background: transparent;
    color: white;
    width: 100%;
    border:1px solid #F09C86;
}

.worker-select > option {
    color: black;
}

.textCenter {
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    color: white;
}
