#about{
    background-color: rgba(238, 238, 238, 0.15);
}
.lg-line{
    line-height: 1.4;
    font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #0cb8b6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
    margin-left: 80px;
    margin-bottom: 35px;
}
.sec-para{
    padding-bottom: 10px;
}
