.navbar {
    margin-bottom: 0px;
    border: 0px;
    background-color: #F09C86;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    margin-top: auto;
}

.navbar-default .nav-col .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F09C86;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background: rgba(0, 125, 177, 0.9);
    }
}

.top-nav-collapse {
    padding: 0;
    background: #F09C86;
}

.white, .white:hover, .white:focus
{
    color: #fff;
    width: 100% !important;
}
.block
{
    display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(184, 12, 12);
}
.navbar-default .navbar-nav > li > a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(52, 52, 52, 0.5);
}
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182, 0.70) !important;
}
#banner{
    background: url('~/img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}
.bg-color{
    background-color: rgba(240, 156, 134, 0.70);
    min-height: 650px;
}
.banner-info{
    padding-top: 190px;
}
.banner-logo img{
    display: inline-block;
}
.banner-text{
    color: #fff;
}
.banner-text h1{
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom:15px;
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}
.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}
