.icon i{
    color:#81CD66;
    font-size: 45px;
    margin-bottom: 25px;
}
.service-info{
    margin-bottom: 20px;
}
.icon-info h4{
    padding-bottom: 15px;
}
.icon-info p{
    font-size: 15px !important;
}
